{{ form }}
{% for item in items %}
  <div class="row underline_cats">
    <div class="col-md-3 offset-md-3">
      <p><span>{{ 'Name:'|trans }} </span>{{ item.name }}</p>
      <p><span>{{ 'Email:'|trans }} </span>{{ item.mail }}</p>
      <p><span>{{ 'Submitted:'|trans }} </span>{{ item.created }}</p>
      {% if user.hasPermission('administer nodes') %}
        <a href="/liutia/catsDel/{{ item.id }}" class="deleteCat use-ajax" data-dialog-type="modal">{{ 'Delete'|trans }}</a>
        {{ edit }}
      {% endif %}
      {% if user.hasPermission('administer nodes') %}
        <a href="/admin/liutia/catsChange/{{ item.id }}" class="editCat">{{ 'Edit'|trans }}</a>
        {{ edit }}
      {% endif %}
    </div>
    <div class="col-md-6">
      <a href="{{ item.images }}"><div class="image-container">{{ item.image }}</div></a>
    </div>
  </div>
{% endfor %}
